@font-face {
    font-family: 'Jersey 15';
    src: url('../utils/fonts/Jersey15-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: green;
    font-family: 'Jersey 15', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid green;
}

header.navbar .name h2 {
    margin: 0;
    color: green;
}

header.navbar nav ul {
    list-style-type: none;
    display: flex;
}

.navbar nav ul li:hover {
    background-color: lightgreen;
    cursor: pointer;
}

header.navbar nav ul li {
    margin-right: 20px;
    color: green;
}

header.navbar nav ul li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.radar-container {
    position: relative; /* Removendo a margem */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#radarCanvas {
    width: 500px;
    /* max-width: 3000px; */
    height: 500px;
}

#matrixContainer {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 400px;
    height: auto;
}

#matrixCanvas {
    width: 400px;
    height: auto;
    border: 2px solid green;
    background-color: black;
}

/* Estilo para o retângulo do código sendo executado */
.cmd-container {
    position: absolute;
    top: auto;
    left: 20px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: black;
    border: 2px solid green;
    overflow-y: auto;
    color: green;
    font-family: monospace;
    white-space: pre;
}

/* Estilo da barra de rolagem */
.cmd-container::-webkit-scrollbar {
    width: 10px;
    background-color: #0f0;
}

/* Estilo do botão de rolagem */
.cmd-container::-webkit-scrollbar-thumb {
    background-color: rgb(2, 68, 7);
}

#loginButton {
    margin-top: 20px;
    text-align: center;
    background-color: green;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Jersey 15', sans-serif;
    font-size: 30px;
    width: 100%;
    height: 50px;

}

#loginButton:hover {
    background-color: lightgreen;
    color: white;
}

/* Estilo para o contêiner do código digitado */
#codeDisplayContainer {
    width: 400px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    padding: 10px;
    background-color: black;
    border: 2px solid green;
    overflow-y: auto;
    color: green;
    font-family: monospace;
    white-space: pre;
}

/* Estilo da barra de rolagem */
#codeDisplayContainer::-webkit-scrollbar {
    width: 10px;
    background-color: #0f0;
}

/* Estilo do botão de rolagem */
#codeDisplayContainer::-webkit-scrollbar-thumb {
    background-color: rgb(2, 68, 7);
}


