@font-face {
    font-family: 'Jersey 15';
    src: url('../utils/fonts/Jersey15-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: green;
    font-family: 'Jersey 15', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid green;
}

header.navbar .name h2 {
    margin: 0;
    color: green;
}

header.navbar nav ul {
    list-style-type: none;
    display: flex;
}

header.navbar nav ul li {
    margin-right: 20px;
    color: green;
}

header.navbar nav ul li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

/* .radar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
} */

.radar-container {
    position: relative; /* Removendo a margem */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#radarCanvas {
    width: 500px;
    /* max-width: 3000px; */
    height: 500px;
}

#matrixContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
}

#matrixCanvas {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    background-color: black;
}

/* Estilo para o retângulo do código sendo executado */
.cmd-container {
    position: absolute;
    top: 38px; /* Posição abaixo da barra de navegação */
    left: 20px;
    width: 410px; /* Largura igual a metade da tela menos as margens */
    height: 498px; /* Altura igual à altura total menos as margens e a altura da barra de navegação */
    padding: 20px;
    background-color: black;
    border: 2px solid green;
    overflow-y: auto;
    color: green;
    font-family: monospace;
    white-space: pre;
}

/* Estilo da barra de rolagem */
.cmd-container::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    background-color: #0f0; /* Cor verde da barra de rolagem */
}

/* Estilo do botão de rolagem */
.cmd-container::-webkit-scrollbar-thumb {
    background-color: rgb(2, 68, 7); /* Cor azul do botão de rolagem */
    border-radius: 5px; /* Borda arredondada do botão de rolagem */
}

